<ng-container *ngIf="isLoading; else content">
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  </ng-container>
  
  <ng-template #content>
    <ng-container *ngIf="film">
        <main class="film-page">
            <section class="film-section">
                <img [src]="film.poster" alt="{{film.titulo}}" class="film-poster">
                <div class="film-details">
                    <div>
                        <h1>{{ film.titulo }}</h1>
                        <p>{{ film.resumen }}</p>
                    </div>
                    <aside class="more-info">
                        <div>
                            <p>Director: {{ film.director }}</p>
                            <p>Duración: {{ film.duracion }} min</p>
                        </div>
                        <span 
                            class="age-clasification" 
                            [ngClass]="{
                            'plus-10': film.clasificacion <= 12 ,
                            'plus-12': film.clasificacion > 12,
                            'plus-18': film.clasificacion >= 17
                            }"
                        >
                            +{{ film.clasificacion }}
                        </span>
                    </aside>
                </div>
            </section>
            <section class="schedules">
                <h2>SESIONES</h2>
                <div class="sesions-buttons">
                @for(sesion of sesions; track sesion){
                    <button class="sesion-button" (click)="changeSesion(sesion)">{{ sesion.hora }}</button>
                }
                </div>  
            </section>
            <hr>
            <app-film-bookings [film]="film" [sesionSelected]="sesionSelected"></app-film-bookings>
        </main>
      
    </ng-container>
  </ng-template>
  