.film-booking {
    margin-top : 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  h2.booking-title{
    color:white;
    font-size: xx-large;
  }

  .seating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
  }

  .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .seat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    width: 64px;
    height: 64px;
  }
  
  .seat-container img {
    width: 60px;
    height: 60px;
  }
  
  /* Define colors for different seat states */
  .seat-container.available {
    
    background-color: rgb(119, 119, 255);
  }
  
  .seat-container.occupied {
    background-color: red;
    cursor: not-allowed;
  }
  
  .seat-container.user-occupied {
    background-color: lightgreen;
  }
  
  .seat-container.selected {
    background-color: orange;
  }
  
  .seat-container.not-available{
    visibility: hidden; /* Hace que el elemento no sea visible pero aún ocupa espacio */
  background: none; /* Asegura que no haya fondo visible */
  border: none; /* Asegura que no haya bordes visibles */
  }

  .booking-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
  }
  
  .booking-info p{
    margin:0;
    color: white;
    font-size: larger;
  }

  .booking-info span {
    margin: 0 3px;
    background-color: white; /* Fondo blanco para el número de asientos */
    color: black;
    font-size: larger;
    padding: 5px; /* Añade un poco de espacio alrededor del número */
    border-radius: 5px; /* Añade bordes redondeados al número */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una ligera sombra */
  }

  .booking-info button{
    padding: 10px;
    background-color: rgb(17, 114, 28);
    color: white;
    border: none;
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transiciones */
  }

  .bookig-info button:hover{
    background-color: white;
    color: rgb(28, 17, 114);
    border-color: rgb(28, 17, 114); /* Borde en hover */
  }

  .booking-info button:disabled {
    background-color: rgb(78, 152, 87); /* Cambia el color de fondo cuando está deshabilitado */
    color: #bebebe; /* Cambia el color del texto cuando está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
  }

  