<main>
    <header>
        <h1>Todas las películas</h1>
        <hr>
        <hr>
    </header>
    <section class="films">
        <div class="film">
            <img src="../../../assets/Oppenheimer.jpg" alt="">
            <div class="film-details">
                <h3>Oppenheimer</h3>
                <p>Descripción de la pelicula Oppenheimer</p>
            </div>
        </div>
        <div class="film"><img src="../../../assets/Oppenheimer.jpg" alt=""></div>
        <div class="film"><img src="../../../assets/Oppenheimer.jpg" alt=""></div>
        <div class="film"><img src="../../../assets/Oppenheimer.jpg" alt=""></div>
        <div class="film"><img src="../../../assets/Oppenheimer.jpg" alt=""></div>
        <div class="film"><img src="../../../assets/Oppenheimer.jpg" alt=""></div>
        <div class="film"><img src="../../../assets/Oppenheimer.jpg" alt=""></div>
    </section>
</main>
