<section class="winners">
    <div class="podium">
      <article class="position second">
        <figure class="medal">
          <img src="path/to/second_medal_image.jpg" alt="Second Medal">
          <figcaption>Segundo Lugar</figcaption>
        </figure>
        <figure class="statuette">
          <img src="path/to/second_statuette_image.jpg" alt="Second Statuette">
          <figcaption>Segundo Lugar</figcaption>
        </figure>
      </article>
      <article class="position first">
        <figure class="medal">
          <img src="path/to/first_medal_image.jpg" alt="First Medal">
          <figcaption>Primer Lugar</figcaption>
        </figure>
        <figure class="statuette">
          <img src="path/to/first_statuette_image.jpg" alt="First Statuette">
          <figcaption>Primer Lugar</figcaption>
        </figure>
      </article>
      <article class="position third">
        <figure class="medal">
          <img src="path/to/third_medal_image.jpg" alt="Third Medal">
          <figcaption>Tercer Lugar</figcaption>
        </figure>
        <figure class="statuette">
          <img src="path/to/third_statuette_image.jpg" alt="Third Statuette">
          <figcaption>Tercer Lugar</figcaption>
        </figure>
      </article>
    </div>
  </section>
  
