/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: medium;
    
}

body{
    background: radial-gradient(circle at center top, rgb(10, 28, 58) 0px, rgb(5, 17, 34) 900px, rgb(5, 17, 34));
}
html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat", sans-serif; }

h1.montserrat-h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: xx-large;
}

h2.montserrat-h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tooltip {
    background-color: #333;  /* Cambiar el color de fondo del tooltip */
    color: #fff;             /* Cambiar el color del texto */
    font-size: 14px;         /* Cambiar el tamaño de la fuente */
    border-radius: 4px;      /* Cambiar el radio de borde */
    padding: 8px 16px;       /* Cambiar el padding */
  }